<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} %-5level: [%thread] [%logger{20}] : %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="io.gravitee.node.opentelemetry" level="DEBUG" />
	<logger name="io.opentelemetry" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
